/* Buttons */
.btn{
    padding: 0.5rem 2.4rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Raleway';
    color: $bg-primary;
    letter-spacing: 0.08rem;
    border-radius: 0.2rem;
}
.btn-yellow{
    background-color: $bg-yellow;
}