/* Card */
.card{
    box-shadow: 0 2px 8px 0px rgba(151, 151, 151, 0.75);
    padding: 2rem 2rem 3rem 2rem;
    border: 0;
    border-radius: 0;
    align-items: center;
    height: 100%;
    &__img{
        height: 100px;
        width:auto;
    }
    &__divider{
        height: 0.25rem;
        width: 29%;
        background-color: $bg-yellow;
        margin: 1.4rem 0;
    }
    &__title{
        font-size: 1.3rem;
        font-weight: bold;
    }
    &__text{
        text-align: center;
        line-height: 1.35;
        margin-top: 1rem;
    
    }
}
.card-dark{
    @extend .card;
    background-color:$bg-primary;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.5);
    align-items: flex-start;
    color: white;
    &__divider{
        height: 0.25rem;
        width: 20%;
        background-color: $bg-blue;
        margin: 1.4rem 0 0.5rem;
    }
    &__description{
        color: $color-light;
        font-size: 1.15rem;
        margin-bottom: 3rem!important;
    }
}