/* Footer */
.footer{
    background-color:$bg-primary;
    padding: 3rem 1rem 2rem;
    color:$color-light;
    font-size: 0.86rem;
    font-family: Helvetica, sans-serif;
    line-height: 1.6rem;
    font-weight: 100;
    a{
        color:$color-light;
        margin: 0.4rem 0;
        display: block;
    }
    &__container{
        @extend .container;
        flex-direction: row;
        display: flex;
        @media only screen and (min-width: 992px){
            .col:first-child{
                flex-grow: 1.5; 
                padding-right: 10vw;
            }
        }
    }
}
.footer-logo{
    margin-bottom: 2rem;
}
.footer-links{
    &__title{
        @extend .text-white;
        margin: 0.2rem 0 1.2rem;
    }
    &__list{
        padding: 0;
        list-style: none;
        margin-bottom: 2rem;
    }
}
.links-social li{
    margin-bottom: 1rem;
}
.icons-social{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    float: left;
    margin: 0 0.6rem 0 0;
}
.icn-facebook::before{
    @extend .icons-social;
    background: url("../images/ic_facebook.svg") no-repeat;
}
.icn-twitter::before{
    @extend .icons-social;
    background: url("../images/ic_twitter.svg") no-repeat;
}
.icn-linkedin::before{
    @extend .icons-social;
    background: url("../images/ic_linkedin.svg") no-repeat;
}
.icn-google::before{
    @extend .icons-social;
    background: url("../images/ic_google-plus.svg") no-repeat;
}
.logo-partner{
    margin-top: 4rem;
}


.subscribe{
    background-color: $bg-blue;
    &__row{
        @extend .container;
        @extend .row;        
        @media only screen and (max-width: 767px){
            flex-direction: row;
        }
        margin: 0 auto;
        padding: 2.9rem 0;  
        align-items: center;      
    }
    &__col{
        @extend .col;
        .title{
            margin:0;
            @extend .text-white;
        }
        p{
            margin:0;
            @extend .text-white;
        }
    }
    &__form{
        background-color: $color-white;
        display: flex;
        padding: 0.25rem;
        border: 1px solid #d5d5d5;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 0.2rem;
    }
    &__input{
        flex-grow: 1;
        border: 0;
        padding: 0 1rem;
        &::placeholder{
            color:#a6a6a6;
        }
    }
}