/* Header */
.header{
    background-color:$bg-primary;
}
.navbar{
    @extend .navbar-expand-lg;
    @extend .navbar-light;
}
.navbar-nav{
    @extend .mr-auto;
    .nav-item{
        .nav-link{
            font-size: 0.75rem;
            color:white;
            &.disabled,
            &:hover
            {
                color:$color-light;
            }
        }
    }
}