/* Hero */
.hero{
    background: url("../images/img_main.png") no-repeat center center transparent;
    width: 100%;
    background-size: cover;
    padding: 8rem 0 18rem;
    display: flex;
    align-self: center;
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding:0;
    }
    &__title{
        color: $color-white;
        align-self: flex-start;
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }
}
.form-book{
    background-color: $color-white;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #D5D5D5; 
    padding:0.2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    align-items: center;
    input{
        border: 0px;
        width: calc(100% - 6rem);
        &::placeholder{
            color:#dddddd;
            font-size: 0.9rem;
            font-family: 'Open Sans';
        }
    }
    .input-group{
        width: auto;
        border-right: 2px solid #d8d8d8;
        &:last-child{
            border-right: 0;
        }
        .input-group-append{
            @extend .arrow;
        }
    }
    .icn-form{
        display: block;
        width: 24px;
        height: 24px;
        margin: 0 0.6rem;
        float:left;
    }
    .airport{
        flex-grow: 1;
        .input-group-prepend{
            @extend .icn-form;
            background: url("../images/ic/airplanemode_active_24px.svg") no-repeat center center;   
        }
        input::placeholder{
            color:$bg-primary;
        }
    }
    .from{
        .input-group-prepend{
            @extend .icn-form;
            background: url("../images/ic/today_24px.svg") no-repeat center center;   
        }
    }
    .until{
        .input-group-prepend{
            @extend .icn-form;
            background: url("../images/ic/event_24px.svg") no-repeat center center;   
        }
    }
}

/* Feedbacks */
.feedbacks{
    background-color: $bg-light;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.5rem 0;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    margin-right: 0.4rem;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    color:$bg-yellow;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

/* How it works */
.how-it-works{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.how-it-works-cell{
    @extend .col;
    margin-bottom: 1rem;
}

/* Advantages */
.advantages{
    background-color:$bg-yellow;
    height: calc(100% - 10rem);
    @media only screen and (min-width: 768px){
        height: 19rem; 
        margin-bottom: 10rem;
    }
}
.advantages-cell{
    @extend .col;
    margin-bottom: 1rem;
}

/* Article parking*/
.article-parking{
    @extend .container;
    margin: 5rem auto;
    &__img{
        @extend .col;
    }
    &__text{
        @extend .col;
        flex-grow: 2;
    }
}

/* Online rezerve */
.online-reserve{
    @extend .container;
    margin: 5rem auto;
    p{
        margin-bottom: 1.7rem;
    }
    .online-reserve-text{
        @extend .col;
        flex-grow: 1.4;
    }
    .mcparking-plus{
        @extend .col;
        .card{
            padding: 2.8rem 3rem 10rem;  
        }
    }
}

/* Partners */
.partners{
    @extend .container;
    margin: 3rem auto;
    &__row{
        @extend .row;
        justify-content: center;
        height: 100%;
        align-items: center;
        margin: 2.5rem 0 4.5rem;
    }    
    &__col{
        @extend .col;
        img{
            @extend .img-fluid;
        }
    }
}