
$bg-primary: #023574;
$bg-yellow: #ffcc00;
$bg-light: #f8f8f8;
$bg-blue: #3892CE;
$color-white: #ffffff;
$color-black: #000000;
$color-light: rgba(255,255,255,0.6);;

$base-font-size: 16px;
$heading-scale: 10; 