
@import "node_modules/bootstrap/scss/bootstrap";
@import "mixin";
@import "variables";
@import "card";
@import "partials";
@import "buttons";
@import "header";
@import "footer";


body {
    color: $color-black;
    background:white;
    height: 100%;
    width:100%;    
    font-size: $base-font-size;
    line-height: 1.75;
    font-family: 'Raleway';
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: $base-font-size + $heading-scale * (6 - $i);
    color: $bg-primary;
    font-family: 'Raleway';
    font-weight: 600;
    margin:0;
  }
}
figure{
    margin: 0;
}
.arrow{
    display: block;
    float: right;
    width: 24px;
    height: 24px;
    margin: 0 0.6rem;
    background: url("../images/ic/arrow_drop_down_24px.svg") no-repeat center center;   
}
.section-title{
    margin-bottom: 1.5rem;
}
.text-yellow{
    color: $bg-yellow;
}
.text-main{
    color: $bg-primary;
}


